

    <div id="page-wrapper">
      <!-- Notification Boxes -->

      <!-- Notifications Boxes End -->

    <!-- Notification Boxes -->

      <%= render 'notification_boxes' %>
    <!-- Notifications Boxes End -->
      <div class="row">
        <div class="col-lg-8">

          <!-- Area Chart -->
            <%= render 'area_chart' %>
          <!-- Area Chart End -->

          <!-- Bar Chart -->
            <%= render 'bar_chart' %>
          <!-- Bar Chart End -->

          <!-- Responsive Timeline -->
            <%= render 'responsive_timeline' %>
          <!-- Responsive Timeline End -->

        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-4">
          
          <!-- Notifications Panel -->
            <%= render 'notifications_panel' %>
          <!-- Notifications Panel End -->

          <!-- Donut Chart -->
            <%= render 'donut_chart' %>
          <!-- Donut Chart End -->

          <!-- Chat Chart -->
            <%= render 'chat_panel' %>
          <!-- Chat Chart End -->
            
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->