<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Please Log In</h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, class:"form-control",placeholder:"E-mail", name:"email" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class:"form-control",placeholder:"Password", name:"password"  %>
              </div>
              <% if devise_mapping.rememberable? -%>
                  <%= f.label :remember_me %>
                  <%= f.check_box :remember_me %>
              <% end %>
              <%= f.submit "Log in", class:"btn btn-success btn-block" %>

              <%= render "devise/shared/links" %>
            </fieldset>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


